.slider {
    width: 100%;
    max-height: 565px !important;
}

.disc {
    width: 100%;
    max-height: 200px !important;
}

.container-flex {
    display: flex;
}

.item-flex {
    flex-direction: space-between;
}